<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">
	<!-- 配置不需要拦截的路径 -->
	<http pattern="/login.jsp" security="none" />
	<http pattern="/css/*" security="none" />
	<http pattern="/fonts/*" security="none" />
	<http pattern="/js/*" security="none" />
	<http auto-config="true" use-expressions="true">
		<!-- 权限认证失败跳转页面 -->
		<access-denied-handler error-page="/views/roleError.jsp" />
		<!-- 配置拦截路径 -->
		<intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
		<!-- 登录拦截配置 -->
		<form-login login-page="/login.jsp"
			
			default-target-url="/index.jsp"
			authentication-failure-url="/login.jsp?error=true"
			always-use-default-target="true" />
		<logout logout-url="/logout" logout-success-url="/login.jsp?logout=true" />
	</http>
	<!-- 开启方法保护注解 -->
	<global-method-security secured-annotations="enabled"
		jsr250-annotations="enabled" />
	<!-- 获取数据库权限 -->
	<authentication-manager>
		<authentication-provider user-service-ref="myUserDetailService" />
	</authentication-manager>
</beans:beans>